In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [3]:
week1_link = 'http://www.footballlocks.com/nfl_odds_week_1.shtml#Closing%20NFL%20Odds%20Week%201,%202007'

In [4]:
#get html text
week1_html = requests.get(week1_link).text

In [5]:
soup = BeautifulSoup(week1_html, 'html.parser')

In [6]:
#want just table row data
tr = soup.find_all("tr")

In [7]:
type(tr[0])

bs4.element.Tag

In [8]:
tr[0].__dict__

{'attrs': {},
 'can_be_empty_element': False,
 'contents': [<td><table border="0" cellpadding="0" cellspacing="0" colspan="3" width="1003">
  <tr>
  <td width="138">
  <div align="left">
  <script type="text/javascript"><!--// <![CDATA[
      /* [id35] Left Leaderboard Zone 125x90 */
      OA_show(35);
  // ]]> --></script><noscript><a href="http://www.footballlocks.com/openx/www/delivery/ck.php?n=a3f6b33" target="_blank">
  <img alt="" border="0" src="http://www.footballlocks.com/openx/www/delivery/avw.php?zoneid=35&amp;n=a3f6b33"/></a></noscript>
  </div></td>
  <td width="728"><div align="center">
  <script type="text/javascript"><!--// <![CDATA[
      /* [id15] Leaderboard Banner Ad Zone 728 x 90 */
      OA_show(15);
  // ]]> --></script><noscript><a href="http://www.footballlocks.com/openx/www/delivery/ck.php?n=f29ad82" target="_blank">
  <img alt="" border="0" src="http://www.footballlocks.com/openx/www/delivery/avw.php?zoneid=15&amp;n=f29ad82"/></a></noscript>
  </div></td>
  <td width="137">
  <div align="right">
  <script type="text/javascript"><!--// <![CDATA[
      OA_show(85);
  // ]]> --></script><noscript><a href="http://www.footballlocks.com/openx/www/delivery/ck.php?n=d612d10" target="_blank">
  <img alt="" border="0" src="http://www.footballlocks.com/openx/www/delivery/avw.php?zoneid=85&amp;n=d612d10"/></a></noscript>
  </div></td>
  </tr></table></td>],
 'hidden': False,
 'known_xml': False,
 'name': 'tr',
 'namespace': None,
 'next_element': <td><table border="0" cellpadding="0" cellspacing="0" colspan="3" width="1003">
 <tr>
 <td width="138">
 <div align="left">
 <script type="text/javascript"><!--// <![CDATA[
     /* [id35] Left Leaderboard Zone 125x90 */
     OA_show(35);
 // ]]> --></script><noscript><a href="http://www.footballlocks.com/openx/www/delivery/ck.php?n=a3f6b33" target="_blank">
 <img alt="" border="0" src="http://www.footballlocks.com/openx/www/delivery/avw.php?zoneid=35&amp;n=a3f6b33"/></a></noscript>
 </div></td>
 <td width="728"><div align="center">
 <script type="text/javascript"><!--// <![CDATA[
     /* [id15] Leaderboard Banner Ad Zone 728 x 90 */
     OA_show(15);
 // ]]> --></script><noscript><a href="http://www.footballlocks.com/openx/www/delivery/ck.php?n=f29ad82" target="_blank">
 <img alt="" border="0" src="http://www.footballlocks.com/openx/www/delivery/avw.php?zoneid=15&amp;n=f29ad82"/></a></noscript>
 </div></td>
 <td width="137">
 <div align="right">
 <script type="text/javascript"><!--// <![CDATA[
     OA_show(85);
 // ]]> --></script><noscript><a href="http://www.footballlocks.com/openx/www/delivery/ck.php?n=d612d10" target="_blank">
 <img alt="" border="0" src="http://www.footballlocks.com/openx/www/delivery/avw.php?zoneid=85&amp;n=d612d10"/></a></noscript>
 </div></td>
 </tr></table></td>,
 'next_sibling': None,
 'parent': <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
 <tr><td><table border="0" cellpadding="0" cellspacing="0" colspan="3" width="1003">
 <tr>
 <td width="138">
 <div align="left">
 <script type="text/javascript"><!--// <![CDATA[
     /* [id35] Left Leaderboard Zone 125x90 */
     OA_show(35);
 // ]]> --></script><noscript><a href="http://www.footballlocks.com/openx/www/delivery/ck.php?n=a3f6b33" target="_blank">
 <img alt="" border="0" src="http://www.footballlocks.com/openx/www/delivery/avw.php?zoneid=35&amp;n=a3f6b33"/></a></noscript>
 </div></td>
 <td width="728"><div align="center">
 <script type="text/javascript"><!--// <![CDATA[
     /* [id15] Leaderboard Banner Ad Zone 728 x 90 */
     OA_show(15);
 // ]]> --></script><noscript><a href="http://www.footballlocks.com/openx/www/delivery/ck.php?n=f29ad82" target="_blank">
 <img alt="" border="0" src="http://www.footballlocks.com/openx/www/delivery/avw.php?zoneid=15&amp;n=f29ad82"/></a></noscript>
 </div></td>
 <td width="137">
 <div align="right">
 <script type="text/javascript"><!--// <![CDATA[
     OA_show(85);
 // ]]> --></script><noscript><a href="http://www.footballlocks.com/openx/www/delivery/ck.php?n=d612d10" target="_blank">
 <img alt="" border="0" src="http://www.footballlocks.com/openx/www/delivery/avw.php?zoneid=85&amp;n=d612d10"/></a></noscript>
 </div></td>
 </tr></table></td></tr></table>,
 'parser_class': bs4.BeautifulSoup,
 'prefix': None,
 'preserve_whitespace_tags': {'pre', 'textarea'},
 'previous_element': '\n',
 'previous_sibling': '\n'}

In [9]:
len(tr)

311

In [10]:
#start of table
tr[51]

<tr>
<td>9/6 8:20 ET</td>
<td>At Philadelphia</td>
<td> <span title="Pick Em. No Favorite. No Underdog.">PK</span></td>
<td>Atlanta</td>
<td>44</td>
<td>-$110  -$110</td>
</tr>

In [11]:
#last entry in table
tr[295]

<tr>
<td>9/11 10:15 ET</td>
<td>San Diego</td>
<td>-3</td>
<td>At Oakland</td>
<td>42</td>
<td>-$160 +$140</td>
</tr>

In [12]:
#want to 296 because it does not include last one
table = tr[51:296]

In [13]:
type(table[-1])

bs4.element.Tag

In [14]:
type(table)

list

In [15]:
string_table = [str(i) for i in table]

In [16]:
type(string_table[0])

str

In [17]:
week1_df = pd.DataFrame(string_table)

In [18]:
week1_df.head()

                                                   0
0  <tr>\n<td>9/6 8:20 ET</td>\n<td>At Philadelphi...
1  <tr>\n<td>9/9 1:00 ET</td>\n<td>Pittsburgh</td...
2  <tr>\n<td>9/9 1:00 ET</td>\n<td>At Minnesota</...
3  <tr>\n<td>9/9 1:00 ET</td>\n<td>At Indianapoli...
4  <tr>\n<td>9/9 1:00 ET</td>\n<td>At Baltimore</...

In [19]:
week1_df.columns = ['all_data']

In [20]:
week1_df.head()

                                            all_data
0  <tr>\n<td>9/6 8:20 ET</td>\n<td>At Philadelphi...
1  <tr>\n<td>9/9 1:00 ET</td>\n<td>Pittsburgh</td...
2  <tr>\n<td>9/9 1:00 ET</td>\n<td>At Minnesota</...
3  <tr>\n<td>9/9 1:00 ET</td>\n<td>At Indianapoli...
4  <tr>\n<td>9/9 1:00 ET</td>\n<td>At Baltimore</...

In [21]:
week1_df['all_data'][0]

'<tr>\n<td>9/6 8:20 ET</td>\n<td>At Philadelphia</td>\n<td>\xa0<span title="Pick Em. No Favorite. No Underdog.">PK</span></td>\n<td>Atlanta</td>\n<td>44</td>\n<td>-$110 \xa0-$110</td>\n</tr>'

In [22]:
week1_df['all_data'][0].split('td')

['<tr>\n<',
 '>9/6 8:20 ET</',
 '>\n<',
 '>At Philadelphia</',
 '>\n<',
 '>\xa0<span title="Pick Em. No Favorite. No Underdog.">PK</span></',
 '>\n<',
 '>Atlanta</',
 '>\n<',
 '>44</',
 '>\n<',
 '>-$110 \xa0-$110</',
 '>\n</tr>']

In [23]:
date_string = week1_df['all_data'][0].split('td')[1]

In [24]:
str1 = date_string.replace(">", "")
str2 = str1.replace("<", "")
final_str = str2[:-1]
final_str

'9/6 8:20 ET'

In [25]:
dates = [x.split('td')[1] for x in week1_df['all_data']]

In [26]:
cleaned_dates = []
for x in dates:
    str1 = x.replace(">", "")
    str2 = str1.replace("<", "")
    final_str = str2[:-1]
    cleaned_dates.append(final_str)

In [27]:
cleaned_dates[0]

'9/6 8:20 ET'

In [28]:
week1_df['date'] = cleaned_dates

In [29]:
week1_df.head()

                                            all_data         date
0  <tr>\n<td>9/6 8:20 ET</td>\n<td>At Philadelphi...  9/6 8:20 ET
1  <tr>\n<td>9/9 1:00 ET</td>\n<td>Pittsburgh</td...  9/9 1:00 ET
2  <tr>\n<td>9/9 1:00 ET</td>\n<td>At Minnesota</...  9/9 1:00 ET
3  <tr>\n<td>9/9 1:00 ET</td>\n<td>At Indianapoli...  9/9 1:00 ET
4  <tr>\n<td>9/9 1:00 ET</td>\n<td>At Baltimore</...  9/9 1:00 ET

In [31]:
week1_df['all_data'][0].split('td')[3]

'>At Philadelphia</'

In [32]:
week1_df['all_data'][0].split('td')[3]

'>At Philadelphia</'

In [33]:
week1_df['favorites'] = week1_df['all_data'].map(lambda x: x.split('td')[3] if len(x.split('td'))>3 else np.nan)

In [34]:
week1_df.head()

,all_data,date,favorites
0,<tr>\n<td>9/6 8:20 ET</td>\n<td>At Philadelphi...,9/6 8:20 ET,>At Philadelphia</
1,<tr>\n<td>9/9 1:00 ET</td>\n<td>Pittsburgh</td...,9/9 1:00 ET,>Pittsburgh</
2,<tr>\n<td>9/9 1:00 ET</td>\n<td>At Minnesota</...,9/9 1:00 ET,>At Minnesota</
3,<tr>\n<td>9/9 1:00 ET</td>\n<td>At Indianapoli...,9/9 1:00 ET,>At Indianapolis</
4,<tr>\n<td>9/9 1:00 ET</td>\n<td>At Baltimore</...,9/9 1:00 ET,>At Baltimore</

In [35]:
#week1_df to pickle
week1_df.to_pickle('week1.pkl')
week1_df = pd.read_pickle('week1.pkl')

In [38]:
week1_df.head()

,all_data,date,favorites
0,<tr>\n<td>9/6 8:20 ET</td>\n<td>At Philadelphi...,9/6 8:20 ET,>At Philadelphia</
1,<tr>\n<td>9/9 1:00 ET</td>\n<td>Pittsburgh</td...,9/9 1:00 ET,>Pittsburgh</
2,<tr>\n<td>9/9 1:00 ET</td>\n<td>At Minnesota</...,9/9 1:00 ET,>At Minnesota</
3,<tr>\n<td>9/9 1:00 ET</td>\n<td>At Indianapoli...,9/9 1:00 ET,>At Indianapolis</
4,<tr>\n<td>9/9 1:00 ET</td>\n<td>At Baltimore</...,9/9 1:00 ET,>At Baltimore</

In [43]:
fav_string = week1_df['favorites'][0]

In [44]:
fav1 = fav_string.replace(">", "")
fav2 = fav1.replace("<", "")
final_fav = fav2[:-1]
final_fav

'At Philadelphia'

In [46]:
type(week1_df['favorites'][0])

str

In [45]:
cleaned_favs = []
for x in week1_df['favorites']:
    fav1 = x.replace(">", "")
    fav2 = fav1.replace("<", "")
    final_fav = fav2[:-1]
    cleaned_favs.append(final_fav)

AttributeError: 'float' object has no attribute 'replace'

,all_data,date,favorites
0,<tr>\n<td>9/6 8:20 ET</td>\n<td>At Philadelphi...,9/6 8:20 ET,At Philadelphi
1,<tr>\n<td>9/9 1:00 ET</td>\n<td>Pittsburgh</td...,9/9 1:00 ET,At Philadelphi
2,<tr>\n<td>9/9 1:00 ET</td>\n<td>At Minnesota</...,9/9 1:00 ET,At Philadelphi
3,<tr>\n<td>9/9 1:00 ET</td>\n<td>At Indianapoli...,9/9 1:00 ET,At Philadelphi
4,<tr>\n<td>9/9 1:00 ET</td>\n<td>At Baltimore</...,9/9 1:00 ET,At Philadelphi