In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

# Week 1

In [4]:
week1_link = 'http://www.footballlocks.com/nfl_odds_week_1.shtml#Closing%20NFL%20Odds%20Week%201,%202007'

In [5]:
#get html text
week1_html = requests.get(week1_link).text

In [6]:
soup = BeautifulSoup(week1_html, 'html.parser')

In [7]:
#want just table row data
tr = soup.find_all("tr")

In [8]:
type(tr[0])

bs4.element.Tag

In [9]:
tr[0].__dict__

{'attrs': {},
 'can_be_empty_element': False,
 'contents': [<td><table border="0" cellpadding="0" cellspacing="0" colspan="3" width="1003">
  <tr>
  <td width="138">
  <div align="left">
  <script type="text/javascript"><!--// <![CDATA[
      /* [id35] Left Leaderboard Zone 125x90 */
      OA_show(35);
  // ]]> --></script><noscript><a href="http://www.footballlocks.com/openx/www/delivery/ck.php?n=a3f6b33" target="_blank">
  <img alt="" border="0" src="http://www.footballlocks.com/openx/www/delivery/avw.php?zoneid=35&amp;n=a3f6b33"/></a></noscript>
  </div></td>
  <td width="728"><div align="center">
  <script type="text/javascript"><!--// <![CDATA[
      /* [id15] Leaderboard Banner Ad Zone 728 x 90 */
      OA_show(15);
  // ]]> --></script><noscript><a href="http://www.footballlocks.com/openx/www/delivery/ck.php?n=f29ad82" target="_blank">
  <img alt="" border="0" src="http://www.footballlocks.com/openx/www/delivery/avw.php?zoneid=15&amp;n=f29ad82"/></a></noscript>
  </div></td>
  <td width="137">
  <div align="right">
  <script type="text/javascript"><!--// <![CDATA[
      OA_show(85);
  // ]]> --></script><noscript><a href="http://www.footballlocks.com/openx/www/delivery/ck.php?n=d612d10" target="_blank">
  <img alt="" border="0" src="http://www.footballlocks.com/openx/www/delivery/avw.php?zoneid=85&amp;n=d612d10"/></a></noscript>
  </div></td>
  </tr></table></td>],
 'hidden': False,
 'known_xml': False,
 'name': 'tr',
 'namespace': None,
 'next_element': <td><table border="0" cellpadding="0" cellspacing="0" colspan="3" width="1003">
 <tr>
 <td width="138">
 <div align="left">
 <script type="text/javascript"><!--// <![CDATA[
     /* [id35] Left Leaderboard Zone 125x90 */
     OA_show(35);
 // ]]> --></script><noscript><a href="http://www.footballlocks.com/openx/www/delivery/ck.php?n=a3f6b33" target="_blank">
 <img alt="" border="0" src="http://www.footballlocks.com/openx/www/delivery/avw.php?zoneid=35&amp;n=a3f6b33"/></a></noscript>
 </div></td>
 <td width="728"><div align="center">
 <script type="text/javascript"><!--// <![CDATA[
     /* [id15] Leaderboard Banner Ad Zone 728 x 90 */
     OA_show(15);
 // ]]> --></script><noscript><a href="http://www.footballlocks.com/openx/www/delivery/ck.php?n=f29ad82" target="_blank">
 <img alt="" border="0" src="http://www.footballlocks.com/openx/www/delivery/avw.php?zoneid=15&amp;n=f29ad82"/></a></noscript>
 </div></td>
 <td width="137">
 <div align="right">
 <script type="text/javascript"><!--// <![CDATA[
     OA_show(85);
 // ]]> --></script><noscript><a href="http://www.footballlocks.com/openx/www/delivery/ck.php?n=d612d10" target="_blank">
 <img alt="" border="0" src="http://www.footballlocks.com/openx/www/delivery/avw.php?zoneid=85&amp;n=d612d10"/></a></noscript>
 </div></td>
 </tr></table></td>,
 'next_sibling': None,
 'parent': <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
 <tr><td><table border="0" cellpadding="0" cellspacing="0" colspan="3" width="1003">
 <tr>
 <td width="138">
 <div align="left">
 <script type="text/javascript"><!--// <![CDATA[
     /* [id35] Left Leaderboard Zone 125x90 */
     OA_show(35);
 // ]]> --></script><noscript><a href="http://www.footballlocks.com/openx/www/delivery/ck.php?n=a3f6b33" target="_blank">
 <img alt="" border="0" src="http://www.footballlocks.com/openx/www/delivery/avw.php?zoneid=35&amp;n=a3f6b33"/></a></noscript>
 </div></td>
 <td width="728"><div align="center">
 <script type="text/javascript"><!--// <![CDATA[
     /* [id15] Leaderboard Banner Ad Zone 728 x 90 */
     OA_show(15);
 // ]]> --></script><noscript><a href="http://www.footballlocks.com/openx/www/delivery/ck.php?n=f29ad82" target="_blank">
 <img alt="" border="0" src="http://www.footballlocks.com/openx/www/delivery/avw.php?zoneid=15&amp;n=f29ad82"/></a></noscript>
 </div></td>
 <td width="137">
 <div align="right">
 <script type="text/javascript"><!--// <![CDATA[
     OA_show(85);
 // ]]> --></script><noscript><a href="http://www.footballlocks.com/openx/www/delivery/ck.php?n=d612d10" target="_blank">
 <img alt="" border="0" src="http://www.footballlocks.com/openx/www/delivery/avw.php?zoneid=85&amp;n=d612d10"/></a></noscript>
 </div></td>
 </tr></table></td></tr></table>,
 'parser_class': bs4.BeautifulSoup,
 'prefix': None,
 'preserve_whitespace_tags': {'pre', 'textarea'},
 'previous_element': '\n',
 'previous_sibling': '\n'}

In [10]:
len(tr)

311

In [14]:
#start of table
tr[51]

<tr>
<td>9/6 8:20 ET</td>
<td>At Philadelphia</td>
<td> <span title="Pick Em. No Favorite. No Underdog.">PK</span></td>
<td>Atlanta</td>
<td>44</td>
<td>-$110  -$110</td>
</tr>

In [15]:
#last entry in table
tr[295]

<tr>
<td>9/11 10:15 ET</td>
<td>San Diego</td>
<td>-3</td>
<td>At Oakland</td>
<td>42</td>
<td>-$160 +$140</td>
</tr>

In [16]:
#want to 296 because it does not include last one
table = tr[51:296]

In [17]:
type(table[-1])

bs4.element.Tag

In [18]:
type(table)

list

In [19]:
string_table = [str(i) for i in table]

In [20]:
type(string_table[0])

str

In [21]:
week1_df = pd.DataFrame(string_table)

In [22]:
week1_df.head()

                                                   0
0  <tr>\n<td>9/6 8:20 ET</td>\n<td>At Philadelphi...
1  <tr>\n<td>9/9 1:00 ET</td>\n<td>Pittsburgh</td...
2  <tr>\n<td>9/9 1:00 ET</td>\n<td>At Minnesota</...
3  <tr>\n<td>9/9 1:00 ET</td>\n<td>At Indianapoli...
4  <tr>\n<td>9/9 1:00 ET</td>\n<td>At Baltimore</...

In [23]:
week1_df.columns = ['all_data']

In [24]:
week1_df.head()

                                            all_data
0  <tr>\n<td>9/6 8:20 ET</td>\n<td>At Philadelphi...
1  <tr>\n<td>9/9 1:00 ET</td>\n<td>Pittsburgh</td...
2  <tr>\n<td>9/9 1:00 ET</td>\n<td>At Minnesota</...
3  <tr>\n<td>9/9 1:00 ET</td>\n<td>At Indianapoli...
4  <tr>\n<td>9/9 1:00 ET</td>\n<td>At Baltimore</...

In [25]:
week1_df['all_data'][0]

'<tr>\n<td>9/6 8:20 ET</td>\n<td>At Philadelphia</td>\n<td>\xa0<span title="Pick Em. No Favorite. No Underdog.">PK</span></td>\n<td>Atlanta</td>\n<td>44</td>\n<td>-$110 \xa0-$110</td>\n</tr>'

In [26]:
week1_df['all_data'][0].split('td')

['<tr>\n<',
 '>9/6 8:20 ET</',
 '>\n<',
 '>At Philadelphia</',
 '>\n<',
 '>\xa0<span title="Pick Em. No Favorite. No Underdog.">PK</span></',
 '>\n<',
 '>Atlanta</',
 '>\n<',
 '>44</',
 '>\n<',
 '>-$110 \xa0-$110</',
 '>\n</tr>']

In [27]:
#want to clean the date data
date_string = week1_df['all_data'][0].split('td')[1]

In [28]:
str1 = date_string.replace(">", "")
str2 = str1.replace("<", "")
final_str = str2[:-1]
final_str

'9/6 8:20 ET'

In [29]:
dates = [x.split('td')[1] for x in week1_df['all_data']]

In [30]:
cleaned_dates = []
for x in dates:
    str1 = x.replace(">", "")
    str2 = str1.replace("<", "")
    final_str = str2[:-1]
    cleaned_dates.append(final_str)

In [31]:
cleaned_dates[0]

'9/6 8:20 ET'

In [32]:
week1_df['date'] = cleaned_dates

In [33]:
week1_df.head()

                                            all_data         date
0  <tr>\n<td>9/6 8:20 ET</td>\n<td>At Philadelphi...  9/6 8:20 ET
1  <tr>\n<td>9/9 1:00 ET</td>\n<td>Pittsburgh</td...  9/9 1:00 ET
2  <tr>\n<td>9/9 1:00 ET</td>\n<td>At Minnesota</...  9/9 1:00 ET
3  <tr>\n<td>9/9 1:00 ET</td>\n<td>At Indianapoli...  9/9 1:00 ET
4  <tr>\n<td>9/9 1:00 ET</td>\n<td>At Baltimore</...  9/9 1:00 ET

In [34]:
week1_df['all_data'][0].split('td')[3]

'>At Philadelphia</'

In [36]:
week1_df['favorites'] = week1_df['all_data'].map(lambda x: x.split('td')[3] if len(x.split('td'))>3 else np.nan)

In [37]:
week1_df.head()

,all_data,date,favorites
0,<tr>\n<td>9/6 8:20 ET</td>\n<td>At Philadelphi...,9/6 8:20 ET,>At Philadelphia</
1,<tr>\n<td>9/9 1:00 ET</td>\n<td>Pittsburgh</td...,9/9 1:00 ET,>Pittsburgh</
2,<tr>\n<td>9/9 1:00 ET</td>\n<td>At Minnesota</...,9/9 1:00 ET,>At Minnesota</
3,<tr>\n<td>9/9 1:00 ET</td>\n<td>At Indianapoli...,9/9 1:00 ET,>At Indianapolis</
4,<tr>\n<td>9/9 1:00 ET</td>\n<td>At Baltimore</...,9/9 1:00 ET,>At Baltimore</

In [40]:
#week1_df to pickle
week1_df.to_pickle('week1.pkl')

In [43]:
week1_df = pd.read_pickle('week1.pkl')

In [44]:
week1_df.head()

,all_data,date,favorites
0,<tr>\n<td>9/6 8:20 ET</td>\n<td>At Philadelphi...,9/6 8:20 ET,>At Philadelphia</
1,<tr>\n<td>9/9 1:00 ET</td>\n<td>Pittsburgh</td...,9/9 1:00 ET,>Pittsburgh</
2,<tr>\n<td>9/9 1:00 ET</td>\n<td>At Minnesota</...,9/9 1:00 ET,>At Minnesota</
3,<tr>\n<td>9/9 1:00 ET</td>\n<td>At Indianapoli...,9/9 1:00 ET,>At Indianapolis</
4,<tr>\n<td>9/9 1:00 ET</td>\n<td>At Baltimore</...,9/9 1:00 ET,>At Baltimore</

In [45]:
# Clean up the favorites cells (remove >,<,/)
fav_string = week1_df['favorites'][0]

In [46]:
fav_string

'>At Philadelphia</'

In [47]:
fav1 = fav_string.replace(">", "")
fav2 = fav1.replace("<", "")
final_fav = fav2[:-1]
final_fav

'At Philadelphia'

In [48]:
type(week1_df['favorites'][0])

str

In [49]:
#loop thru each row and append each game's favorite to a list
# cleaned_favs = []
# for x in week1_df['favorites']:
#     try:
#         fav1 = x.replace(">", "")
#     except AttributeError:
#          fav1 = fav1
#     try:
#         fav2 = fav1.replace("<", "")
#     except AttributeError:
#         fav2 = fav1=2
#     final_fav = fav2[:-1]
#     cleaned_favs.append(final_fav)

In [50]:
#loop thru each row and append each game's favorite to a list
cleaned_favs = []
for x in week1_df['favorites']:
    try:
        fav1 = x.replace('<', '').replace('>', '').replace('/', '')
    except AttributeError:
        fav1 = fav1
    cleaned_favs.append(fav1)

In [51]:
len(cleaned_favs)

245

In [52]:
week1_df['cleaned_favorites'] = cleaned_favs

In [53]:
#pull out underdog data from all_data
week1_df['all_data'][0].split('td')[7]

'>Atlanta</'

In [54]:
#create underdog column
week1_df['underdogs'] = week1_df['all_data'].map(lambda x: x.split('td')[7] if len(x.split('td'))>3 else np.nan)

In [55]:
#clean underdog column
#loop thru each row and append each game's underdog to a list
cleaned_underdogs = []
for x in week1_df['underdogs']:
    try:
        und1 = x.replace('<', '').replace('>', '').replace('/', '')
    except AttributeError:
        und1 = und1
    cleaned_underdogs.append(und1)

In [56]:
len(cleaned_underdogs)

245

In [57]:
cleaned_underdogs

['Atlanta',
 'At Cleveland',
 'San Francisco',
 'Cincinnati',
 'Buffalo',
 'At NY Giants',
 'Tampa Bay',
 'Houston',
 'Tennessee',
 'Kansas City',
 'Seattle',
 'Dallas',
 'Washington',
 'Chicago',
 ' width="22%"',
 'NY Jets',
 'At Oakland',
 'At Oakland',
 ' width="22%"bUnderdogb',
 'Kansas City',
 'NY Jets',
 'At Chicago',
 'Jacksonville',
 'At Washington',
 'At Detroit',
 'Oakland',
 'At Miami',
 'Baltimore',
 'At Cleveland',
 'Indianapolis',
 'Seattle',
 'At San Francisco',
 'NY Giants',
 ' width="22%"',
 'New Orleans',
 'LA Chargers',
 'LA Chargers',
 ' width="22%"bUnderdogb',
 'At Denver',
 'Tampa Bay',
 'At Tennessee',
 'Cleveland',
 'At NY Jets',
 'Oakland',
 'San Diego',
 'Buffalo',
 'Chicago',
 'At Jacksonville',
 'Miami',
 'At Dallas',
 'Detroit',
 'New England',
 ' width="22%"',
 'At Washington',
 'At San Francisco',
 'At San Francisco',
 ' width="22%"bUnderdogb',
 'Pittsburgh',
 'At Chicago',
 'At Houston',
 'Cleveland',
 'At Buffalo',
 'At Washington',
 'At Jacksonville',
 'At St. Louis',
 'New Orleans',
 'Detroit',
 'Tennessee',
 'At Oakland',
 'Baltimore',
 'NY Giants',
 ' width="22%"',
 'At Atlanta',
 'At San Francisco',
 'At San Francisco',
 ' width="22%"bUnderdogb',
 'Green Bay',
 'At Atlanta',
 'Minnesota',
 'Cleveland',
 'Jacksonville',
 'Oakland',
 'Cincinnati',
 'Buffalo',
 'Washington',
 'Tennessee',
 'At Miami',
 'Carolina',
 'At Dallas',
 'Indianapolis',
 ' width="22%"',
 'NY Giants',
 'San Diego',
 'San Diego',
 ' width="22%"bUnderdogb',
 'Baltimore',
 'At Buffalo',
 'Tennessee',
 'Atlanta',
 'At NY Jets',
 'At Jacksonville',
 'Cincinnati',
 'Miami',
 'At Carolina',
 'Minnesota',
 'Oakland',
 'Arizona',
 'Green Bay',
 'NY Giants',
 ' width="22%"',
 'Philadelphia',
 'At San Diego',
 'At San Diego',
 ' width="22%"bUnderdogb',
 'Dallas',
 'Indianapolis',
 'At Cleveland',
 'Buffalo',
 'Washington',
 'At Tennessee',
 'Jacksonville',
 'Miami',
 'St. Louis',
 'At Kansas City',
 'San Francisco',
 'At Tampa Bay',
 'At Arizona',
 'Pittsburgh',
 ' width="22%"',
 'Cincinnati',
 'San Diego',
 'San Diego',
 ' width="22%"bUnderdogb',
 'New Orleans',
 'Pittsburgh',
 'Detroit',
 'At Chicago',
 'Buffalo',
 'Indianapolis',
 'At St. Louis',
 'Cincinnati',
 'At Jacksonville',
 'At Washington',
 'Carolina',
 'Seattle',
 'Minnesota',
 'Dallas',
 ' width="22%"',
 'At Miami',
 'Oakland',
 'Oakland',
 ' width="22%"bUnderdogb',
 'Minnesota',
 'Carolina',
 'At Buffalo',
 'At Pittsburgh',
 'Detroit',
 'Cincinnati',
 'Cleveland',
 'Denver',
 'At Houston',
 'Oakland',
 'At Philadelphia',
 'At Seattle',
 'At St. Louis',
 'At Washington',
 ' width="22%"',
 'Baltimore',
 'At Kansas City',
 'At Kansas City',
 ' width="22%"bUnderdogb',
 'Tennessee',
 'Miami',
 'Kansas City',
 'At Carolina',
 'Denver',
 'At Cleveland',
 'NY Jets',
 'Jacksonville',
 'Detroit',
 'At Tampa Bay',
 'San Francisco',
 'Washington',
 'St. Louis',
 'Chicago',
 ' width="22%"',
 'Buffalo',
 'At Oakland',
 'At Oakland',
 ' width="22%"bUnderdogb',
 'Washington',
 'At Baltimore',
 'At Miami',
 'Kansas City',
 'Houston',
 'At Tennessee',
 'At Atlanta',
 'Seattle',
 'Tampa Bay',
 'St. Louis',
 'At Cleveland',
 'Carolina',
 'At San Francisco',
 'Chicago',
 ' width="22%"',
 'Minnesota',
 'At Oakland',
 'At Oakland',
 ' width="22%"bUnderdogb',
 'New Orleans',
 'Kansas City',
 'At Buffalo',
 'At Cleveland',
 'Tennessee',
 'Carolina',
 'At Green Bay',
 'Atlanta',
 'Miami',
 'At NY Jets',
 'Tampa Bay',
 'Chicago',
 'Detroit',
 'NY Giants',
 ' width="22%"',
 'Baltimore',
 'Arizona',
 'Arizona',
 ' width="22%"bUnderdogb',
 'Miami',
 'At St. Louis',
 'NY Jets',
 'Buffalo',
 'Baltimore',
 'Cincinnati',
 'At Detroit',
 'Atlanta',
 'At Houston',
 'New Orleans',
 'At Jacksonville',
 'At Green Bay',
 'San Francisco',
 'At NY Giants',
 ' width="22%"',
 'Minnesota',
 'At Oakland']

In [58]:
week1_df['underdogs'][0]

'>Atlanta</'

In [59]:
und1 = week1_df['underdogs'][0].replace(">", "")
und2 = und1.replace("<", "")

In [60]:
und2[:-1]

'Atlanta'

In [61]:
week1_df['underdogs'][0].replace('<', '').replace('>', '').replace('/', '')

'Atlanta'

In [62]:
week1_df['cleaned_underdogs'] = cleaned_underdogs
week1_df.head()

,all_data,date,favorites,cleaned_favorites,underdogs,cleaned_underdogs
0,<tr>\n<td>9/6 8:20 ET</td>\n<td>At Philadelphi...,9/6 8:20 ET,>At Philadelphia</,At Philadelphia,>Atlanta</,Atlanta
1,<tr>\n<td>9/9 1:00 ET</td>\n<td>Pittsburgh</td...,9/9 1:00 ET,>Pittsburgh</,Pittsburgh,>At Cleveland</,At Cleveland
2,<tr>\n<td>9/9 1:00 ET</td>\n<td>At Minnesota</...,9/9 1:00 ET,>At Minnesota</,At Minnesota,>San Francisco</,San Francisco
3,<tr>\n<td>9/9 1:00 ET</td>\n<td>At Indianapoli...,9/9 1:00 ET,>At Indianapolis</,At Indianapolis,>Cincinnati</,Cincinnati
4,<tr>\n<td>9/9 1:00 ET</td>\n<td>At Baltimore</...,9/9 1:00 ET,>At Baltimore</,At Baltimore,>Buffalo</,Buffalo

In [63]:
week1_df['all_data'][0].split('td')[5]

'>\xa0<span title="Pick Em. No Favorite. No Underdog.">PK</span></'

In [64]:
#create spread column
week1_df['spread'] = week1_df['all_data'].map(lambda x: x.split('td')[5] if len(x.split('td'))>3 else np.nan)

In [65]:
#clean spread column
#loop thru each row and append each game's spread to a list

cleaned_spreads = []

for x in week1_df['spread']:
    try:
        spread1 = x.replace('<', '').replace('>', '').replace('/', '')
    except AttributeError:
        spread1 = spread1
    cleaned_spreads.append(spread1)
    
print(len(cleaned_spreads))

245

In [66]:
week1_df['cleaned_spread'] = cleaned_spreads
week1_df.head()

,all_data,date,favorites,cleaned_favorites,underdogs,cleaned_underdogs,spread,cleaned_spread
0,<tr>\n<td>9/6 8:20 ET</td>\n<td>At Philadelphi...,9/6 8:20 ET,>At Philadelphia</,At Philadelphia,>Atlanta</,Atlanta,"> <span title=""Pick Em. No Favorite. No Underd...","span title=""Pick Em. No Favorite. No Underdog..."
1,<tr>\n<td>9/9 1:00 ET</td>\n<td>Pittsburgh</td...,9/9 1:00 ET,>Pittsburgh</,Pittsburgh,>At Cleveland</,At Cleveland,>-3.5</,-3.5
2,<tr>\n<td>9/9 1:00 ET</td>\n<td>At Minnesota</...,9/9 1:00 ET,>At Minnesota</,At Minnesota,>San Francisco</,San Francisco,>-6.5</,-6.5
3,<tr>\n<td>9/9 1:00 ET</td>\n<td>At Indianapoli...,9/9 1:00 ET,>At Indianapolis</,At Indianapolis,>Cincinnati</,Cincinnati,"> <span title=""Pick Em. No Favorite. No Underd...","span title=""Pick Em. No Favorite. No Underdog..."
4,<tr>\n<td>9/9 1:00 ET</td>\n<td>At Baltimore</...,9/9 1:00 ET,>At Baltimore</,At Baltimore,>Buffalo</,Buffalo,>-8</,-8

In [67]:
week1_df['all_data'][0].split('td')[9]

'>44</'

In [68]:
#create over_under column
week1_df['over_under'] = week1_df['all_data'].map(lambda x: x.split('td')[9] if len(x.split('td'))>3 else np.nan)

In [69]:
#clean over_under column
#loop thru each row and append each game's over_under to a list

cleaned_over_under = []

for x in week1_df['over_under']:
    try:
        ou1 = x.replace('<', '').replace('>', '').replace('/', '')
    except AttributeError:
        ou1 = ou1
    cleaned_over_under.append(ou1)
    
print(len(cleaned_over_under))

245

In [70]:
week1_df['cleaned_over_under'] = cleaned_over_under
week1_df.head()

,all_data,date,favorites,cleaned_favorites,underdogs,cleaned_underdogs,spread,cleaned_spread,over_under,cleaned_over_under
0,<tr>\n<td>9/6 8:20 ET</td>\n<td>At Philadelphi...,9/6 8:20 ET,>At Philadelphia</,At Philadelphia,>Atlanta</,Atlanta,"> <span title=""Pick Em. No Favorite. No Underd...","span title=""Pick Em. No Favorite. No Underdog...",>44</,44
1,<tr>\n<td>9/9 1:00 ET</td>\n<td>Pittsburgh</td...,9/9 1:00 ET,>Pittsburgh</,Pittsburgh,>At Cleveland</,At Cleveland,>-3.5</,-3.5,>41</,41
2,<tr>\n<td>9/9 1:00 ET</td>\n<td>At Minnesota</...,9/9 1:00 ET,>At Minnesota</,At Minnesota,>San Francisco</,San Francisco,>-6.5</,-6.5,>46</,46
3,<tr>\n<td>9/9 1:00 ET</td>\n<td>At Indianapoli...,9/9 1:00 ET,>At Indianapolis</,At Indianapolis,>Cincinnati</,Cincinnati,"> <span title=""Pick Em. No Favorite. No Underd...","span title=""Pick Em. No Favorite. No Underdog...",>47.5</,47.5
4,<tr>\n<td>9/9 1:00 ET</td>\n<td>At Baltimore</...,9/9 1:00 ET,>At Baltimore</,At Baltimore,>Buffalo</,Buffalo,>-8</,-8,>38.5</,38.5

In [73]:
#week1_df to pickle
week1_df.to_pickle('week1.pkl')
week1_df = pd.read_pickle('week1.pkl')

In [91]:
#create money_odds column and clean data
money_odds = []
for x in week1_df['all_data']:
    try:
        money_odds.append(x.split('td')[11].replace('<', '').replace('>', '').replace('/', ''))
    except:
        money_odds.append(np.nan)
        
week1_df['money_odds'] = money_odds

In [96]:
len(week1_df.all_data[17].split('td'))

3

In [97]:
#input week number for each game
week1_df['week_number'] = '1'

In [104]:
#want to input year for each game. on lines we want to decrease the count by one, len(week1_df.all_data[x].split('td')) = 3
year = 2018
year_list = []
for x in week1_df['all_data']:
    if len(x.split('td')) > 3:
        year_list.append(year)
    else:
        year_list.append(year)
        year -= 1

week1_df['year'] = year_list

In [112]:
#create a final dataframe for week 1
week1_final = week1_df[['date', 'year', 'week_number', 'cleaned_favorites', 'cleaned_underdogs', 'cleaned_spread', 
                        'cleaned_over_under', 'money_odds']]
week1_final.head()

,date,year,week_number,cleaned_favorites,cleaned_underdogs,cleaned_spread,cleaned_over_under,money_odds
0,9/6 8:20 ET,2018,1,At Philadelphia,Atlanta,"span title=""Pick Em. No Favorite. No Underdog...",44,-$110 -$110
1,9/9 1:00 ET,2018,1,Pittsburgh,At Cleveland,-3.5,41,-$180 +$160
2,9/9 1:00 ET,2018,1,At Minnesota,San Francisco,-6.5,46,-$275 +$235
3,9/9 1:00 ET,2018,1,At Indianapolis,Cincinnati,"span title=""Pick Em. No Favorite. No Underdog...",47.5,-$110 -$110
4,9/9 1:00 ET,2018,1,At Baltimore,Buffalo,-8,38.5,-$390 +$320

In [114]:
#week1_final to pickle
week1_final.to_pickle('week1_final.pkl')