In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

# Week 2

In [12]:
week1_link = 'http://www.footballlocks.com/nfl_odds_week_1.shtml#Closing%20NFL%20Odds%20Week%201,%202007'
week2_link = 'http://www.footballlocks.com/nfl_odds_week_2.shtml#Closing%20NFL%20Odds%20Week%201,%202007'
week3_link = 'http://www.footballlocks.com/nfl_odds_week_3.shtml#Closing%20NFL%20Odds%20Week%201,%202007'
week4_link = 'http://www.footballlocks.com/nfl_odds_week_4.shtml#Closing%20NFL%20Odds%20Week%201,%202007'
week5_link = 'http://www.footballlocks.com/nfl_odds_week_5.shtml#Closing%20NFL%20Odds%20Week%201,%202007'
week6_link = 'http://www.footballlocks.com/nfl_odds_week_6.shtml#Closing%20NFL%20Odds%20Week%201,%202007'
week7_link = 'http://www.footballlocks.com/nfl_odds_week_7.shtml#Closing%20NFL%20Odds%20Week%201,%202007'
week8_link = 'http://www.footballlocks.com/nfl_odds_week_8.shtml#Closing%20NFL%20Odds%20Week%201,%202007'
week9_link = 'http://www.footballlocks.com/nfl_odds_week_9.shtml#Closing%20NFL%20Odds%20Week%201,%202007'
week10_link = 'http://www.footballlocks.com/nfl_odds_week_10.shtml#Closing%20NFL%20Odds%20Week%201,%202007'
week11_link = 'http://www.footballlocks.com/nfl_odds_week_11.shtml#Closing%20NFL%20Odds%20Week%201,%202007'
week12_link = 'http://www.footballlocks.com/nfl_odds_week_12.shtml#Closing%20NFL%20Odds%20Week%201,%202007'
week13_link = 'http://www.footballlocks.com/nfl_odds_week_13.shtml#Closing%20NFL%20Odds%20Week%201,%202007'
week14_link = 'http://www.footballlocks.com/nfl_odds_week_14.shtml#Closing%20NFL%20Odds%20Week%201,%202007'
week15_link = 'http://www.footballlocks.com/nfl_odds_week_15.shtml#Closing%20NFL%20Odds%20Week%201,%202007'
week16_link = 'http://www.footballlocks.com/nfl_odds_week_16.shtml#Closing%20NFL%20Odds%20Week%201,%202007'

In [17]:
week2_link = 'http://www.footballlocks.com/nfl_odds_week_2.shtml#Closing%20NFL%20Odds%20Week%201,%202007'

#get html text
week2_html = requests.get(week2_link).text

soup = BeautifulSoup(week2_html, 'html.parser')

#want just table row data
tr = soup.find_all("tr")

len(tr)

#start of table
print(tr[51])

#last entry in table
print(tr[295])

<tr>
<td>9/13 8:20 ET</td>
<td>Baltimore</td>
<td>-1</td>
<td>At Cincinnati</td>
<td>43.5</td>
<td>-$120 +$100</td>
</tr>
<tr>
<td>9/18 8:30 ET</td>
<td>Pittsburgh</td>
<td>-2.5</td>
<td>At Jacksonville</td>
<td>36.5</td>
<td>-$140 +$120</td>
</tr>

In [28]:
#want to 296 because it does not include last one
table = tr[51:296]

type(table[-1])

type(table)

string_table = [str(i) for i in table]

type(string_table[0])

week2_df = pd.DataFrame(string_table)

week2_df.columns = ['all_data']

week2_df.head()

                                            all_data
0  <tr>\n<td>9/13 8:20 ET</td>\n<td>Baltimore</td...
1  <tr>\n<td>9/16 1:00 ET</td>\n<td>At Washington...
2  <tr>\n<td>9/16 1:00 ET</td>\n<td>At Atlanta</t...
3  <tr>\n<td>9/16 1:00 ET</td>\n<td>Minnesota</td...
4  <tr>\n<td>9/16 1:00 ET</td>\n<td>LA Chargers</...

In [29]:
#want to clean the date data

dates = [x.split('td')[1] for x in week2_df['all_data']]

cleaned_dates = []
for x in dates:
    str1 = x.replace(">", "").replace("<", "")
    final_str = str1[:-1]
    cleaned_dates.append(final_str)

week2_df['date'] = cleaned_dates

In [44]:
#pull out favorites

week2_df['cleaned_favorites'] = week2_df['all_data'].map(lambda x: x.split('td')[3].replace('<', '').replace('>', '').replace('/', '')
                                                 if len(x.split('td'))>3 else np.nan)

#create underdog column

week2_df['cleaned_underdogs'] = week2_df['all_data'].map(lambda x: x.split('td')[7].replace('<', '').replace('>', '').replace('/', '')
                                                 if len(x.split('td'))>3 else np.nan)

#create spread column
week2_df['cleaned_spread'] = week2_df['all_data'].map(lambda x: x.split('td')[5].replace('<', '').replace('>', '').replace('/', '')
                                                 if len(x.split('td'))>3 else np.nan)

#create over_under column
week2_df['cleaned_over_under'] = week2_df['all_data'].map(lambda x: x.split('td')[9].replace('<', '').replace('>', '').replace('/', '')
                                                 if len(x.split('td'))>3 else np.nan)

#create money_odds column and clean data
money_odds = []
for x in week2_df['all_data']:
    try:
        money_odds.append(x.split('td')[11].replace('<', '').replace('>', '').replace('/', ''))
    except:
        money_odds.append(np.nan)
        
week2_df['money_odds'] = money_odds

#input week number for each game
week2_df['week_number'] = '2'

In [45]:
#want to input year for each game. on lines we want to decrease the count by one, len(week1_df.all_data[x].split('td')) = 3
year = 2018
year_list = []
for x in week2_df['all_data']:
    if len(x.split('td')) > 3:
        year_list.append(year)
    else:
        year_list.append(year)
        year -= 1

week2_df['year'] = year_list

In [48]:
#create a final dataframe for week 1
week2_final = week2_df[['date', 'year', 'week_number', 'cleaned_favorites', 'cleaned_underdogs', 'cleaned_spread', 
                        'cleaned_over_under', 'money_odds']]
week2_final.head()

,date,year,week_number,cleaned_favorites,cleaned_underdogs,cleaned_spread,cleaned_over_under,money_odds
0,9/13 8:20 ET,2018,2,Baltimore,At Cincinnati,-1,43.5,-$120 +$100
1,9/16 1:00 ET,2018,2,At Washington,Indianapolis,-6,48,-$255 +$215
2,9/16 1:00 ET,2018,2,At Atlanta,Carolina,-5.5,43.5,-$250 +$210
3,9/16 1:00 ET,2018,2,Minnesota,At Green Bay,-2,44.5,-$130 +$110
4,9/16 1:00 ET,2018,2,LA Chargers,At Buffalo,-7.5,41.5,-$360 +$300

In [49]:
#week2_final to pickle
week2_final.to_pickle('week2_final.pkl')